.smallblogstry{
overflow: hidden;
cursor: grab;

}
.inner__smallblogstry{
    display: flex;

}
.Blogs__wrapper{
    background-color: var(--secondary-bg-color);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 20px 10px 5px 10px;
    margin: 20px 5px 20px 5px;
}