.NavbarSection__wrapper {
    height: 56px;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
    border: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.Logo{
    float: left;
}
